#Python
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.env
.venv/
venv/

# Anaconda
anaconda3/

# system files
.DS_Store
Thumbs.db

# Logs
*.log

# Large raw datasets 
*.zip
*.tar
*.gz

# IDE settings
.vscode/
.idea/